---
import { Icon } from 'astro-icon';
import { t, changeLanguage } from 'i18next';
import { Trans, LanguageSelector } from 'astro-i18next/components';
import { localizePath } from 'astro-i18next';

const items = [
	{
		title: 'Smart Contracts',
		description:
			'With deep expertise in Solidity and other blockchain-compatible programming languages, Cyberse designs and implements self-executing Ethereum, Solana and EVM-compatible blockchains smart contracts.',
		icon: 'images/audit.png',
	},
	{
		title: 'Auditing',
		description:
			'Proofreading of the source code and thorough analysis of the code in view of describing the behavior of the smart contract when faced with all possible cases. We go above and beyond to secure data and digital assets.',
		icon: 'images/research.png',
	},
	{
		title: 'Custom Solutions',
		description:
			'Our engineering team carries out your custom projects, from the initial idea to the final product by reviewing your use case, gathering user feedback and helping you with the final implementation of your solution.',
		icon: 'images/idea.png',
	},
	{
		title: 'DApp Development',
		description:
			'Secure, trustless, rapid, scalable, and stable: Cyberse delivers effective dapps across verticals and industries.',
		icon: 'images/software.png',
	},
	{
		title: 'NFT Services',
		description:
			'Stay ahead of innovation by harnessing the power of NFT services on Ethereum, EVM-compatible blockchains and Solana.',
		icon: 'images/nft.png',
	},
	{
		title: 'Consulting & Training',
		description:
			'Cyberse provides consulting and training services to help you build your own blockchain-based solutions.',
		icon: 'images/blockchain.png',
	},
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					{t('services.title')}
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					{t('services.subtitle')}
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<img
							class="w-12 h-12"
							src={localizePath('images/audit.png', 'en')}
							alt={t('services.smartcontract.title')}
						/>
						<div class="ml-4 text-xl font-bold">{t('services.smartcontract.title')}</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">{t('services.smartcontract.description')}</p>
				</div>
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<img class="w-12 h-12" src={localizePath('images/research.png', 'en')} alt={t('services.audit.title')} />
						<div class="ml-4 text-xl font-bold">{t('services.audit.title')}</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">{t('services.audit.description')}</p>
				</div>
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<img class="w-12 h-12" src={localizePath('images/idea.png', 'en')} alt={t('services.custom.title')} />
						<div class="ml-4 text-xl font-bold">{t('services.custom.title')}</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">{t('services.custom.description')}</p>
				</div>
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<img class="w-12 h-12" src={localizePath('images/software.png', 'en')} alt={t('services.dapp.title')} />
						<div class="ml-4 text-xl font-bold">{t('services.dapp.title')}</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">{t('services.dapp.description')}</p>
				</div>
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<img class="w-12 h-12" src={localizePath('images/nft.png', 'en')} alt={t('services.nft.title')} />
						<div class="ml-4 text-xl font-bold">{t('services.nft.title')}</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">{t('services.nft.description')}</p>
				</div>
				<div
					class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800"
				>
					<div class="flex items-center mb-4">
						<img
							class="w-12 h-12"
							src={localizePath('images/blockchain.png', 'en')}
							alt={t('services.consulting.title')}
						/>
						<div class="ml-4 text-xl font-bold">{t('services.consulting.title')}</div>
					</div>
					<p class="text-gray-500 dark:text-gray-400 text-md">{t('services.consulting.description')}</p>
				</div>
			</div>
		</div>
	</div>
</section>
