---
import { t } from 'i18next';
import { Trans } from 'astro-i18next/components';
import { localizePath } from 'astro-i18next';

const items = [
	[
		{
			title: 'Dedicated Team',
			description:
				'A team of full-time developers will be dedicated on your projects, optimizing resource use and accelerating performance.',
			icon: 'images/people.png',
		},
		{
			title: 'Never stop learning',
			description:
				'Your business is always on the move. So are we. We’re constantly improving our skills and understanding to deliver cutting-edge advice and services for you.',
			icon: 'images/learning.png',
		},
	],
	[
		{
			title: 'Deep development skill base',
			description:
				'Our team has a deep understanding of the latest blockchain technologies and trends, and we’re always ready to apply them to your project.',
			icon: 'images/innovation.png',
		},
		{
			title: 'Round Clock Support & Maintenance',
			description:
				' Our work in emerging technologies has helped us automate many aspects of any business workflow. We coordinate our efforts with global concerns based on clients’ time zones, to provide round the clock support. We tailor our processes to clients’ needs throughout the world.',
			icon: 'images/time.png',
		},
	],
];
---

<section class="scroll-mt-16">
	<div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-primary-50 dark:bg-slate-800" id="features">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">
				{t('features.title')}
			</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
				<Trans i18nKey="features.subtitle">
					Why choose <br />
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-blue-800 whitespace-nowrap"
						>Cyberse</span
					> ?
				</Trans>
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"></p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			<div class="space-y-8 sm:px-8">
				<div class="flex flex-row max-w-md">
					<img class="w-16 h-16 mr-5" src={localizePath('images/people.png', 'en')} alt={t('features.team.title')} />

					<div>
						<h3 class="mb-3 text-xl font-bold">{t('features.team.title')}</h3>
						<p class="text-justify">{t('features.team.description')}</p>
					</div>
				</div>
				<div class="flex flex-row max-w-md">
					<img
						class="w-16 h-16 mr-5"
						src={localizePath('images/learning.png', 'en')}
						alt={t('features.learning.title')}
					/>

					<div>
						<h3 class="mb-3 text-xl font-bold">{t('features.learning.title')}</h3>
						<p class="text-justify">{t('features.learning.description')}</p>
					</div>
				</div>
			</div>
			<div class="space-y-8 sm:px-8">
				<div class="flex flex-row max-w-md">
					<img
						class="w-16 h-16 mr-5"
						src={localizePath('images/innovation.png', 'en')}
						alt={t('features.skill.title')}
					/>

					<div>
						<h3 class="mb-3 text-xl font-bold">{t('features.skill.title')}</h3>
						<p class="text-justify">{t('features.skill.description')}</p>
					</div>
				</div>
				<div class="flex flex-row max-w-md">
					<img
						class="w-16 h-16 mr-5"
						src={localizePath('images/time.png', 'en')}
						alt={t('features.maintenance.title')}
					/>

					<div>
						<h3 class="mb-3 text-xl font-bold">{t('features.maintenance.title')}</h3>
						<p class="text-justify">{t('features.maintenance.description')}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
