---
import { Icon } from 'astro-icon';
import Picture from '~/components/core/Picture.astro';
import { t, changeLanguage } from 'i18next';
import { Trans, LanguageSelector } from 'astro-i18next/components';
---

<section>
	<div class="w-auto m-auto px-4 sm:px-6">
		<div class="flex py-12 md:py-20 justify-center items-center">
			<div class="text-left pb-10 max-w-4xl md:pb-16">
				<h1 class="text-6xl md:text-7xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					<Trans i18nKey="hero.slogan">
						Turn your idea into a
						<span class="bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-blue-800 sm:whitespace-nowrap"
							>powerful & scalable</span
						>
						dApp.
					</Trans>
				</h1>
				<div class="max-w-3xl">
					<p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
						<Trans i18nKey="hero.subtitle">
							Cyberse provides our team of blockchain experts to guide you throughout your Web3 journey
							<span
								class="bg-clip-text text-transparent bg-gradient-to-r from-cyan-400 to-blue-800 sm:whitespace-nowrap"
							>
								from acculturation to production, with a special focus on security.
							</span>
						</Trans>
					</p>
					<div class="max-w-none flex flex-nowrap flex-col sm:flex-row sm:justify-left gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gradient-to-r border border-primary-200 from-cyan-400 to-blue-800 hover:from-cyan-400 hover:to-cyan-400 sm:mb-0"
								href="https://calendly.com/adelharieche-cyberse"
								target="_blank" rel="noopener noreferrer"
							>
								<Trans i18nKey="hero.button_discuss">
									<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Let's discuss
								</Trans>
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-800 w-full"
								href="https://forms.gle/iQ5DYUFbkzZrn9md6"
								target="_blank"
								rel="noopener"
							>
								<Trans i18nKey="hero.button_audit">Looking for an Audit ?</Trans>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="mb-8 m-auto h-full hidden lg:flex dark:hidden">
					<img src="/images/blockchain_animated.gif" alt="Illustration" />
				</div>
				<div class="mb-8 m-auto h-full hidden lg:hidden dark:lg:flex">
					<img src="/images/blockchain_animated_black.gif" alt="Illustration" />
				</div>
			</div>
		</div>
	</div>
</section>
