---
import { t } from 'i18next';
---

<style>
	.reveal {
		position: relative;
		transform: translateY(50px);
		opacity: 0;
		transition: 0.7s all ease;
	}

	.reveal.active {
		transform: translateY(0);
		opacity: 1;
	}

	.number_round {
		--tw-bg-opacity: 1;
		background-color: rgb(22 78 99 / var(--tw-bg-opacity));
	}
</style>

<script>
	function reveal() {
		var reveals = document.querySelectorAll('.reveal');
		for (var i = 0; i < reveals.length; i++) {
			var windowHeight = window.innerHeight;
			var elementTop = reveals[i].getBoundingClientRect().top;
			var elementVisible = 50;
			if (elementTop < windowHeight - elementVisible) {
				reveals[i].classList.add('active');
			} else {
				reveals[i].classList.remove('active');
			}
		}
	}
	window.addEventListener('scroll', reveal);

	// To check the scroll position on page load
	reveal();
</script>

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl" id="process">
	<div class="text-center">
		<h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">{t('process.title')}</h2>
	</div>
	<div class="flex flex-col justify-center py-6 lg:py-12">
		<div class="w-full mx-auto lg:max-w-4xl">
			<div class="relative">
				<!-- Vertical middle line-->
				<div
					class="absolute hidden w-2 h-full transform -translate-x-1/2 bg-gradient-to-t from-blue-800 to-cyan-400 lg:block left-1/2"
				>
				</div>

				<div class="space-y-15 lg:space-y-8">
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Left section -->
					<div class="reveal">
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8">
									<div class="dark:bg-slate-800 p-4 bg-white rounded shadow-lg shadow-cyan-300">
										<div class="pt-1 pb-8">
											<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
												{t('process.discovery.title')}
											</p>
											<p class="text-justify justify-center pt-2">
												{t('process.discovery.description')}
											</p>
										</div>
									</div>
								</div>
							</div>
							<div
								class="bg-indigo-600 bg-indigo-600 absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 rounded-full left-1/2 sm:translate-y-0"
							>
								<span class="text-white">1</span>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Right section -->
					<div class="reveal">
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-end w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pl-8">
									<div class="dark:bg-slate-800 p-4 bg-white rounded shadow-lg shadow-red-300">
										<div class="pt-1 pb-8">
											<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
												{t('process.design.title')}
											</p>
											<p class="text-justify justify-center pt-2">
												{t('process.design.description')}
											</p>
										</div>
									</div>
								</div>
							</div>
							<div
								class="absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 bg-indigo-600 rounded-full left-1/2 sm:translate-y-0"
							>
								<span class="text-white">2</span>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Left section -->
					<div class="reveal">
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8">
									<div class="dark:bg-slate-800 p-4 bg-white rounded shadow-lg shadow-yellow-300">
										<div class="pt-1 pb-8">
											<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
												{t('process.smartcontract.title')}
											</p>
											<p class="text-justify justify-center pt-2">
												{t('process.smartcontract.description')}
											</p>
										</div>
									</div>
								</div>
							</div>
							<div
								class="absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 bg-indigo-600 rounded-full left-1/2 sm:translate-y-0"
							>
								<span class="text-white">3</span>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Right section -->
					<div class="reveal">
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-end w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pl-8">
									<div class="dark:bg-slate-800 p-4 bg-white rounded shadow-lg shadow-lime-300">
										<div class="pt-1 pb-8">
											<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">{t('process.audit.title')}</p>
											<p class="text-justify justify-center pt-2">
												{t('process.audit.description')}
											</p>
										</div>
									</div>
								</div>
							</div>
							<div
								class="absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 bg-indigo-600 rounded-full left-1/2 sm:translate-y-0"
							>
								<span class="text-white">4</span>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Left section -->
					<div class="reveal">
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8">
									<div class="dark:bg-slate-800 p-4 bg-white rounded shadow-lg shadow-yellow-300">
										<div class="pt-1 pb-8">
											<p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
												{t('process.maintenance.title')}
											</p>
											<p class="text-justify justify-center pt-2">
												{t('process.maintenance.description')}
											</p>
										</div>
									</div>
								</div>
							</div>
							<div
								class="absolute flex items-center justify-center w-8 h-8 transform -translate-x-1/2 -translate-y-4 bg-indigo-600 rounded-full left-1/2 sm:translate-y-0"
							>
								<span class="text-white">5</span>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
					<!-- Space -->
					<div>
						<div class="flex flex-col items-center js-show-on-scroll">
							<div class="flex items-center justify-start w-full mx-auto">
								<div class="w-full lg:w-1/2 lg:pr-8"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
